.result-matrix {
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 100vh;             
    background-color: #c3dee5; 
    padding: 20px;            
  }
  
  .display-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; 
    background-color: #fff; 
  }
  
  .matrix-input {
    width: 40px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .matrix-input:focus {
    outline: none;
    border-color: #f4f4f4;
  }
  